

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

h1 {text-align: center;
  color: #283618;
  font-family: "Indie Flower", cursive; 
    font-size: 50px;
  }

.display {
  display: flex;
  justify-content:center;
  flex-direction: column;
  padding: 25px
}

.side{
display:block;
 padding-left: 10px;{
  text-align: center;
}

}
/* .info{
  display:flex;
  justify-content: ;
}
 */






.display-image img {
  display: block; 
  height: 100px;
  width: 100px;
  border-radius: 60%;
  margin: 15px;
  
}

.display-name p {
  font-size: 20px;
  height: 100px;
  font-weight: bold;
    margin: 20px;
}

.display-color p {
  font-size: 20px;
  height: 100px;
  font-weight: bold;
    margin: 20px;
  
}


.display-link a {
  display: block;
  font-size: 20px;
  height: 100px;
  font-weight: bold;
    margin: 20px;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 20px;

}

input{
  width:300px; 
  text-align: center;
  margin: 0 auto 10px;
  color: black;
  padding:6px; 
}

.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;


}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: black;
  display:flex;
   cursor: pointer;
  border:2px black;
  background-color: white;

}

a{
  font-size: 20px;
  color: #283618;
  text-decoration:none;
}

body {

background-color: #ccd5ae;
  color: white;
}


.btn{
  display:flex;
  justify-content: center ;
}

.result{
  color: black;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}  



img{width:100px;}


/*add this code to mobile  */
.container{ display:flex;
    justify-content: center;
padding:20px;

}

p{font-size: 20px;
  color: #283618;
 }

